node_modules/
dist/
build/
.DS_Store
Thumbs.db
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.env
.env.local
.env.development
.env.production
.env.test

.idea/
.vscode/
*.swp
*.swo

/backend/node_modules/
/backend/.env
/backend/coverage/
/backend/logs/
/backend/tmp/
/backend/.cache/
/backend/package-lock.json

logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

/frontend/node_modules/
/frontend/dist/
/frontend/.angular/cache/
/frontend/.env
/frontend/.env.*.local
/frontend/package-lock.json

.angular/
.angular/cache/
.angular/*

*.zip
*.tar
*.tar.gz
*.tgz

*.local.json
*.test.js
